html {
    height: 100%;
    width: 100%;
}

body {
    background-color: black;

    font-size: 1.2em;
}

.name_entry {
    font-size: 1em;
    background-color: chartreuse;
    grid-area: entry;
}

.ingredients_textbox {
    background-color: chocolate;
    grid-area: ingredients;
}

.instructions_textbox {
    grid-area: instructions;
    background-color: azure;
}

.submit_button {
    font-size: 20px;
    background-color: darkcyan;
    color: white;
    cursor: pointer;
    grid-area: button;
}

.container {
    /*position: fixed; top: 0; left: 0; right: 0; bottom: 0;*/
    font-size: 1.5em;
    display: grid;
    justify-items: stretch;
    min-width: auto;
    min-height: auto;
    padding: 0;
    margin: auto;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto 300px 300px auto;
    grid-template-areas:
" . entry . "
" . ingredients . "
" . instructions . "
" . button . ";
}